<!-- ======= Header ======= -->
<header id="header">

  <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav">
    <img class="navbar-brand text-uppercase" src="assets/logo/pg_Intsyslogo.png" />

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#call-to-action">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>

</header><!-- End Header -->

<!-- ======= Intro Section ======= -->
<section id="intro">

  <div class="header-image">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our PG INT SYS ! </div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
    </div>
  </div>

</section><!-- End Intro Section -->

<main id="main">

  <!-- ======= Featured Services Section Section ======= -->
  <section id="featured-services">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 box">
          <i class="ion-settings"></i>
          <h4 class="title"><a>Technical Solution</a></h4>
          <p class="description">PG INT SYS provide high end technical solution for all sort of problems and provide
            solution for improving your business to next level
          </p>
        </div>

        <div class="col-lg-4 box box-bg">
          <i class="ion-ios-body-outline"></i>
          <h4 class="title"><a>Trainings</a></h4>
          <p class="description">Some trainings are co-organized with IEEE SMC (System Man & Cybernetics) Malaysia
            Society</p>
        </div>

        <div class="col-lg-4 box">
          <i class="ion-ios-bookmarks"></i>
          <h4 class="title"><a>Recruitment & Placements</a></h4>
          <p class="description">To deliver professional and proficient hiring solutions to meet every client’s
            requirements at the right time & to be a bridge between aspiring talent and career aspirations</p>
        </div>

      </div>
    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <p>PG INT SYS SDN BHD previously known as PG TECH solution was established in 2014 to deliver best solution and
          services to the client to excel in their objective.</p>
      </header>

      <div class="row about-cols justify-content">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              Our team is dedicated to deliver innovative & quality system for society, communities, industries and
              clients to solve their challenges to make it simple by integrating applications for various sectors. </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              To become the global leader in providing the innovative solutions.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->


  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container-md" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a>Web development</a></h4>
          <p class="description">Web development refers to building digital products that operate in web environments.
            It can be a simple website or a complex web application that includes dozens of services locked in a
            sophisticated architecture. The emergence of innovative web technologies and Application Programming
            Interfaces (APIs) allowed developers to build websites that plug into countless useful features. Moreover,
            web development services can now deliver applications to mobile devices that feel native and work smoothly.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title"><a>Mobile development</a></h4>
          <p class="description">Another key area in software development today focuses on building applications for
            mobile devices such as smartphones and tablets. The world of mobile app development is basically divided
            into two operating systems: Android and iOS. Developers can also build cross-platform applications or hybrid
            applications that take advantage of web technologies, for example, Progressive Web Apps. Mobile development
            is a versatile discipline where products range from mobile games to corporate systems.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title"><a>Data science</a></h4>
          <p class="description">Another key area of software development today is data science. Organizations of all
            sizes to generate plenty of data, but they can only unlock their value if they build analytics tools with
            the help of data scientists and software developers. To get actionable insights from data, data scientists
            mine and manipulate data with the help of analytical approaches, which are then used to build software
            solutions. Some of this software takes advantage of cutting-edge technologies such as machine learning that
            enable predictive analytics and help companies to become more proactive in delivering services to their
            end-users.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <h4 class="title"><a>Research & Development</a></h4>
          <p class="description">In this research, our robot overcomes the existing issues of the eye surgery by
            introducing an AI Safety System which can monitor the whole process in real time for interpreting the
            qualitative data, so it will function in the state of semi-autonomous in the presence of surgeon. The AI
            system will consist of Danger Monitor System (DMS), Fail Safely and Automatic Recovery System (FSARS), Eye
            Tremor Detection System (ETDS), Automatic Procedure Sequencing System (APSS) and Collision Detection System
            (CDS). This will make sure that the robotic surgery done with safely and prevent any failure during the
            surgery. Moreover, the robot has a 0.005µm repeatability which create more accuracy during the procedure.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
          <h4 class="title"><a>Embedded systems</a></h4>
          <p class="description">The rise of the Internet of Things (IoT) technology means that everyday objects can now
            be connected to the internet. And that’s why the development of embedded systems has become such a rapidly
            growing area of software development. This type of activity requires specific coding skills for embedded
            systems such as Raspberry Pi or Arduino. Embedded software specializes targets the particular software the
            machines or devices run on.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="ion-ios-people-outline"></i></div>
          <h4 class="title"><a>Cloud computing</a></h4>
          <p class="description">Another key service offered relates to cloud technologies. Traditionally, files were
            stored locally on personal computers or local servers. Today, businesses are starting to embrace cloud
            computing services and take advantage of networks of remote service servers hosted on the internet to store
            and manage data. Software developers who deliver such services build solutions that integrate with cloud
            storage applications such as Amazon Web Services (AWS).

          </p>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3 class="section-title text-uppercase">Careers</h3>
      <p>Agensi Pekerjaan PG Talentics Sdn Bhd is new recruitment agency was
        established in 2019 that is committed to deliver to its clients the highest
        standard of professional and proficient recruitment solution tailored to
        the client’s specific requirements.
      </p>
      <a class="cta-btn" href="#">Call For Training</a>
    </div>
  </section><!-- End Call To Action Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
      </header>


      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Web 3</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Web 2</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Web 1</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>No 9, Jalan PJS 8/9. Bandar Sunway
              46150 Petaling Jaya, Selangor.</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="+60 17-950 0361">+60 17-950 0361</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a> karthi@pgintsys.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required"
              data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main>


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>PG INT SYS SDN BHD</h3>
          <p>PG INT SYS SDN BHD previously known as PG TECH solution was
            established in 2014 to deliver best solution and services to the client to
            excel in their objective.</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            PG INTSYS SDN BHD
            No:1036, Block A3, Leisure Commerce Square
            No 9, Jalan PJS 8/9. Bandar Sunway
            46150 Petaling Jaya, Selangor. <br>
            <strong>Phone:</strong> +60 17-950 0361<br>
            <strong>Email:</strong> <a> karthi@pgintsys.com</a><br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Work With Us</h4>
          <p>Strive to be the preferred recruitment partner to our clients.</p>
          <button type="submit">Submit Resume</button>
        </div>

      </div>
    </div>
  </div>

</footer><!-- End Footer -->

<!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
